.page-whole-wrap {
  background-color: #eee;
  padding: 80px 32px;

  @include mobile {
    padding: 80px 16px;
  }
}

.design-style-wrap {
  background-color: #fff;
  margin: 0 auto;
  padding: 60px;
  border-radius: 40px;
  max-width: 1232px;

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 4px solid #1e1e1e;
  }

  & > h2 {
    margin: 60px 0 24px;

    &::before {
      content: "📒";
    }
  }

  .part-container {
    min-height: 120px;
    padding: 20px 40px;
  }
}

.basic-pattern-wrap {
}

.part-container {
  border-bottom: 1px solid black;

  &.with-padding {
    padding: var(--padding-7);
  }

  &.with-flex {
    @include flex;
    gap: var(--gap-5);
    flex-flow: wrap;
  }
}

[class*="txt-display"] {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  color: var(--color-text-subtle);
}

.txt-display-large {
  font-size: var(--display-large);
  @include mobile {
    font-size: var(--display-large-mobile);
  }
}

.txt-display-medium {
  font-size: var(--display-medium);
  @include mobile {
    font-size: var(--display-medium-mobile);
  }
}

.txt-display-small {
  font-size: var(--display-small);
  @include mobile {
    font-size: var(--display-small-mobile);
  }
}

// heading
h2,
h3,
h4,
h5,
h6,
[class*="tit-heading"] {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  color: var(--color-text-subtle);
}

h2,
.tit-heading-xlarge {
  font-size: var(--heading-xlarge);

  @include mobile {
    font-size: var(--heading-xlarge-mobile);
  }
}

h3,
.tit-heading-large {
  font-size: var(--heading-large);

  @include mobile {
    font-size: var(--heading-large-mobile);
  }
}

h4,
.tit-heading-medium {
  font-size: var(--heading-medium);

  @include mobile {
    font-size: var(--heading-medium-mobile);
  }
}

h5,
.tit-heading-small {
  font-size: var(--heading-small);

  @include mobile {
    font-size: var(--heading-small-mobile);
  }
}

h6,
.tit-heading-xsmall {
  font-size: var(--heading-xsmall);

  @include mobile {
    font-size: var(--heading-xsmall-mobile);
  }
}

.tit-heading-xxsmall {
  font-size: var(--heading-xxsmall);

  @include mobile {
    font-size: var(--heading-xxsmall-mobile);
  }
}

/* 예약어 */
/* 
  page - 페이지
  template - 공통 레이아웃
  layout - 레이아웃
  com - 컴포넌트
  ui - 로컬 레이아웃 (재 사용이 용이한 것, 재 사용을 할 것 같은 것)
*/

/* components */
// tooltip
.tooltip-wrap {
}

// modal
.modal-wrap {
}

// popup
.popup-wrap {
}

// btn
.com-btn {
  @include flex {
    align-self: flex-start;
    flex-shrink: 0;
  }
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 150%;

  // size
  &.small {
    height: var(--size-height-6, 40px);
    border-radius: var(--radius-medium-1);
    padding: 0 var(--padding-5);
    gap: var(--gap-2);
    min-width: 64px;
    font-size: var(--font-size-label-small);
  }

  &.medium {
    height: var(--size-height-7);
    border-radius: var(--radius-medium-2);
    padding: 0 var(--padding-6);
    gap: var(--gap-2);
    min-width: 78px;
    font-size: var(--font-size-label-medium);
  }

  &.large {
    height: var(--size-height-8);
    border-radius: var(--radius-medium-3);
    padding: 0 var(--padding-7);
    gap: var(--gap-2);
    min-width: 90px;
    font-size: var(--font-size-label-large);
  }

  &.xlarge {
    height: var(--size-height-9, 64px);
    border-radius: var(--radius-medium-3, 8px);
    padding: 0 var(--padding-8, 24px);
    gap: var(--gap-2);
    min-width: 98px;
    font-size: var(--font-size-label-large);
  }

  // color
  &.primary {
    color: #fff;
    background-color: var(--color-button-primary-fill);

    &:hover {
      background-color: var(--color-button-primary-fill-hover);
    }
  }

  &.secondary {
    color: var(--color-text-primary);
    border: 1px solid var(--color-button-secondary-border);
    background-color: var(--color-button-secondary-fill);

    &:hover {
      background-color: var(--color-button-secondary-fill-hover);
    }
  }

  &.tertiary {
    color: var(--color-text-basic);
    border: 1px solid var(--color-button-tertiary-border);
    background-color: var(--color-button-tertiary-fill);

    &:hover {
      background-color: var(--color-button-tertiary-fill-hover);
    }
  }
}

.com-btn-close {
  @include flexCenter;
  transition: none;

  &::before {
    @include bgi("icon/close.svg");
    display: inline-block;
    flex-shrink: 0;
    content: "";
    width: 24px;
    height: 24px;
  }

  &.large {
    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

// breadcrumb
.com-breadcrumb-wrap {
  align-items: center;

  .breadcrumb {
    @include flexYCenter;
    gap: var(--gap-3, 8px);
    padding: 0 var(--padding-2, 4px);

    .home {
      @include flexYCenter;
      gap: var(--gap-2);

      &::before {
        display: inline-flex;
        flex-shrink: 0;
        content: "";
        width: 16px;
        height: 16px;
        @include bgi("icon/home.svg");
      }
    }

    li {
      @include flexYCenter;
      height: var(--size-height-4, 24px);
      border-radius: var(--radius-small-1, 4px);

      &:not(:last-child) {
        &::after {
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 16px;
          height: 16px;
          @include bgi("icon/arrow-right.svg");
          margin-left: var(--gap-3, 8px);
        }
      }

      a {
        &:hover {
          border-radius: var(--radius-small-1, 4px);
          background-color: var(--color-button-tertiary-fill-hover);
        }
      }

      .txt {
        @include flexYCenter;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: var(--font-size-body-small, 15px);
        color: var(--color-text-basic);
        text-align: right;
        text-overflow: ellipsis;
        text-decoration-line: underline;
        text-underline-offset: 2px;
      }
    }

    @include mobile {
      li:not(.home):not(:nth-child(2)):not(:last-child) {
        display: none;
      }

      li:nth-child(2):not(:last-child) {
        &::before {
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 16px;
          height: 16px;
          @include bgi("icon/ellipsis-horizontal.svg");
        }

        a {
          display: none;
        }
      }
    }
  }
}

// step indicator
.com-step-indicator-wrap {
  ol {
    @include flex;

    li {
      position: relative;
      @include flexColumn {
        flex: 1;
      }
      min-width: 20px;

      & > span {
        position: relative;
        @include flexColumn;
        gap: var(--gap-1, 2px);
        padding-top: 28px;

        &::before {
          position: absolute;
          @include flexCenter;
          content: "";
          top: 0px;
          width: 20px;
          height: 20px;
          border: 1px solid var(--color-element-disabled-light);
          border-radius: 50%;
          background-color: var(--color-element-gray-light);
          z-index: 2;
        }
      }

      &:not(:last-child) {
        &::after {
          position: absolute;
          @include flexCenter;
          content: "";
          top: 8px;
          left: 1px;
          right: 0;
          height: 3px;
          background-color: var(--color-element-disabled-light);
          z-index: 1;
        }
        &.done {
          &::after {
            background-color: var(--color-element-gray);
          }
        }
      }

      &:last-child {
        flex: none;
      }

      &.done {
        & > span {
          &::before {
            border: none;
            background-color: var(--color-element-gray);
          }

          &::after {
            position: absolute;
            @include flexCenter;
            content: "";
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            @include bgi("icon/vector-2.svg");
            z-index: 3;
          }
        }
      }

      &.active {
        & > span {
          &::before {
            box-sizing: border-box;
            border: 3px solid var(--color-element-primary);
            background-color: #fff;
          }

          &::after {
            position: absolute;
            @include flexCenter;
            content: "";
            top: 4.5px;
            left: 4.5px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: var(--color-element-primary);
            z-index: 3;
          }
        }
      }

      .step {
        font-style: unset;
        font-size: var(--font-size-body-xsmall, 13px);
        color: var(--color-text-subtle);

        @include mobile {
          display: none;
        }
      }

      .step-tit {
        font-size: var(--font-size-body-small, 15px);
        font-weight: 700;
        color: var(--color-text-basic);

        @include mobile {
          display: none;
        }
      }
    }
  }
}

// select
.com-select-wrap {
  @include flexColumn;
  gap: var(--gap-3, 8px);
  width: 100%;

  .form-tit {
    font-size: var(--font-size-label-small, 15px);
  }

  .form-hint {
    font-size: var(--font-size-body-xsmall, 13px);
    color: var(--color-text-subtle);
  }

  .form-alert {
    @include flexYCenter;
    gap: var(--gap-2, 4px);
    font-size: var(--font-size-body-xsmall, 13px);
    color: var(--color-text-information);

    &::before {
      @include bgi("icon/info-blue.svg");
      display: inline-flex;
      flex-shrink: 0;
      content: "";
      width: 16px;
      height: 16px;
    }
  }

  .form-content {
    position: relative;
    @include flexColumn {
      // align-self: flex-start;
    }
    min-width: 150px;

    &::after {
      position: absolute;
      display: inline-flex;
      top: 50%;
      right: var(--padding-6, 16px);
      transform: translateY(-50%);
      @include bgi("icon/arrow-down.svg");
      flex-shrink: 0;
      content: "";
      width: 24px;
      height: 24px;
    }

    select {
      padding: 0 var(--padding-10, 40px) 0 var(--padding-6, 16px);
      border: 1px solid var(--color-input-border);
      border-radius: var(--radius-medium-1, 6px);

      appearance: none; /* 브라우저 기본 스타일 제거 */
      -webkit-appearance: none;
      -moz-appearance: none;

      font-size: var(--font-size-label-large, 19px);
      color: var(--color-text-disabled);
      transition: 0.1s ease-in-out;

      &:disabled {
      }

      &:focus {
        outline: 2px solid var(--color-input-border-active);
        border-color: var(--color-input-border-active);
        transition: 0.1s ease-in-out;
        color: var(--color-text-basic);
      }

      option {
      }
    }

    .form-select {
      &.large {
        height: var(--size-height-8, 56px);
        border-radius: var(--radius-medium-3, 8px);
      }

      &.completed {
      }

      &.is-error {
      }
    }
  }
}

// modal
.com-modal-wrap {
  &.large {
    max-width: 760px;
    min-height: 296px;

    @include mobile {
      max-height: 80vh;
    }
  }

  &.medium {
    max-width: 560px;
    min-height: 296px;

    @include mobile {
    }
  }

  &.small {
    max-width: 400px;
    min-height: 264px;

    @include mobile {
    }
  }

  // position: fixed;
  // top: 20vh;
  // margin: auto;

  @include flexColumn;
  padding: var(--padding-8);
  border: 1px solid var(--color-border-gray);
  border-radius: var(--radius-xlarge-1, 12px);
  background-color: var(--color-surface-white-subtler);

  @include mobile {
    padding: var(--padding-7);
    min-width: 320px;
  }

  .modal-inner {
    @include flexColumn {
      flex: 1;
    }
    height: 100%;

    .close-box {
      @include flexYCenter {
        justify-content: flex-end;
      }
    }

    .modal-content-container {
      @include flexColumn {
        flex: 1;
      }
      height: 100%;
      padding: var(--padding-3) var(--padding-6);
      gap: var(--gap-5);

      @include mobile {
        padding: var(--padding-3) var(--padding-2);
      }

      .modal-desc-wrap {
        @include flexColumn;
        position: relative;
        overflow-y: auto;
        max-height: 50vh;
      }
    }

    .modal-btn-container {
      @include flexYCenter;
      padding: var(--padding-6, 16px);
      gap: var(--gap-3, 8px);
      margin-top: auto;
      flex-wrap: wrap;

      @include mobile {
        flex-direction: column;
        padding: var(--padding-6, 16px) var(--padding-2, 4px);
      }

      .modal-checkbox {
        @include flexYCenter;
        margin-right: auto;
        gap: var(--gap-3, 8px);

        input {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          width: 20px;
          height: 20px;
        }
      }

      .modal-btn-box {
        @include flexYCenter {
        }
        gap: var(--gap-3);
        margin-left: auto;
      }
    }
  }
}

//help panel
.com-help-panel-wrap {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;

  & > button {
    position: relative;
    right: var(--padding-10, 40px);
    top: var(--padding-10, 40px);
    z-index: 150;
  }

  .help-panel-wrap {
    display: none;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    z-index: 101;
    width: 390px;
    padding: var(--padding-10, 40px);
    border-left: 1px solid var(--color-border-gray);
    background-color: var(--color-surface-gray-subtler);

    @include mobile {
      padding: var(--padding-6, 16px) var(--padding-8, 24px)
        var(--padding-8, 24px);
    }

    &.is-open {
      @include flexColumn;
      visibility: visible;
      transition: 0.4s ease-in-out;
      transform: unset;
    }
  }
}
