.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// gap
.ui-gap-20px {
  gap: 20px;
}

// scroll
.ui-scroll-wrap {
  position: relative;

  .ui-scroll-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
  }
}

.ui-title-section {
  color: var(--color-text-basic, #1e2124);
  /* heading/large */
  font-family: var(--typo-font-type, "Pretendard GOV");
  font-size: var(--font-size-heading-large, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: var(--typo-letter-spacing-1, 1px);
}

.ui-container {
  display: flex;
  width: 156px;
  padding: var(--padding-8, 24px) var(--padding-5, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-3, 8px);

  border-radius: var(--radius-xlarge2, 12px);
  border: 1px solid var(--color-border-gray, #b1b8be);
  background: var(--color-surface-white-subtle, #fff);
}

.ui-border-box {
  border-radius: var(--radius-xlarge2, 12px);
  border: 1px solid var(--color-border-gray, #b1b8be);
  background: var(--color-surface-white-subtle, #fff);
}

.ui-btn-shortcut {
  display: flex;
  align-items: center;
  padding: 0 2px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--color-text-basic, #1e2124);
  /* label/medium */
  font-family: var(--typo-font-type, "Pretendard GOV");
  font-size: var(--font-size-label-medium, 17px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 25.5px */
  letter-spacing: var(--typo-letter-spacing-0, 0px);

  &::after {
    display: inline-flex;
    flex-shrink: 0;
    content: "";
    width: 20px;
    height: 20px;
    background: no-repeat center url(../../assets/images/icon/btn-shortcut.svg);
    background-size: contain;
  }
}

.ui-btn-detail {
  display: flex;
  align-items: center;
  padding: 0 2px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--color-text-basic, #1e2124);
  /* label/medium */
  font-family: var(--typo-font-type, "Pretendard GOV");
  font-size: var(--font-size-label-medium, 17px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 25.5px */
  letter-spacing: var(--typo-letter-spacing-0, 0px);

  &::after {
    display: inline-flex;
    flex-shrink: 0;
    content: "";
    width: 20px;
    height: 20px;
    background: no-repeat center url(../../assets/images/icon/btn-more.svg);
    background-size: contain;
  }
}

.ui-btn-arrow-r {
  display: flex;
  align-items: center;
  padding: 0 2px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--color-text-basic, #1e2124);
  /* label/medium */
  font-family: var(--typo-font-type, "Pretendard GOV");
  font-size: var(--font-size-label-medium, 17px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 25.5px */
  letter-spacing: var(--typo-letter-spacing-0, 0px);

  &::after {
    display: inline-flex;
    flex-shrink: 0;
    content: "";
    width: 20px;
    height: 20px;
    background: no-repeat center url(../../assets/images/icon/arrow-right.svg);
    background-size: contain;
  }
}

.ui-badge {
  @include flexCenter {
    align-self: stretch;
  }
  height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  background: #ecf2fe;

  color: var(--color-text-primary, #0b50d0);
  text-align: center;

  /* label/small */
  font-family: var(--typo-font-type, "Pretendard GOV");
  font-size: var(--font-size-label-small, 15px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  letter-spacing: var(--typo-label-small-letter-spacing, 0px);
}

.ui-deco-none {
  text-decoration: none;
}
