.is-gnb-web {
  overflow: hidden;
}

.masthead-wrap {
  @include flexYCenter;
  align-self: stretch;
  height: 32px;
  background-color: #eef2f7;
  z-index: 70;

  .nuri-txt {
    @include flexYCenter {
      display: inline-flex;
    }
    @include font(($body, 15px));
    font-weight: 400;
    gap: 8px;
    color: #1e2124;

    &::before {
      @include bgi("icon/taegeukgi.svg");
      display: inline-flex;
      flex-shrink: 0;
      content: "";
      width: 24px;
      height: 24px;
    }
  }
}

.layout-header-wrap {
  @include flexYCenter;
  padding: 8px 0;
  z-index: 70;
  background-color: #fff;

  @include pc {
    padding: 12px 8px 16px 8px;
  }

  .utility-wrap {
    @media (max-width: 1024px) {
      display: none;
    }

    @include flexYCenter {
      justify-content: flex-end;
    }
    padding-bottom: 0.4rem;

    .util-container {
      @include flexYCenter;
      gap: 12px;

      .globe {
        @include flexYCenter;
        gap: 0.4rem;
        padding: 0 0.2rem;
        font-size: 1.5rem;
        border-radius: 0.6rem;
        border: 1px solid transparent;

        &::before {
          @include bgi("icon/globe.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 16px;
          height: 16px;
        }

        &::after {
          @include bgi("icon/arrow-right.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 16px;
          height: 16px;
          transform: rotate(90deg);
        }
      }

      .support {
        @include flexYCenter;
        gap: 0.4rem;
        padding: 0 0.2rem;
        font-size: 1.5rem;
        border-radius: 0.6rem;
        border: 1px solid transparent;

        &::after {
          @include bgi("icon/arrow-right.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 16px;
          height: 16px;
          transform: rotate(90deg);
        }
      }

      .setting {
        @include flexYCenter;
        gap: 0.4rem;
        padding: 0 0.2rem;
        font-size: 1.5rem;
        border-radius: 0.6rem;
        border: 1px solid transparent;

        &::before {
          @include bgi("icon/view-mode.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 16px;
          height: 16px;
        }
      }

      .divider {
        display: inline-flex;
        flex-shrink: 0;
        content: "";
        width: 0.1rem;
        height: 1.6rem;
        background-color: #cdd1d5;
      }
    }
  }

  .logo-container {
    @include flexBetween {
      flex: 1;
    }

    .nav-container {
      @include flexYCenter {
        justify-content: flex-end;
      }
      height: 100%;
      gap: 0.8rem;

      button {
        @include font(($body, 1.7rem));
        color: #1e2124;
        font-weight: 700;
      }

      .nav-search {
        @include flexColumn {
          align-items: center;
        }
        height: 56px;
        gap: 4px;
        padding: 4px 12px 0 12px;
        padding-bottom: 0;

        &::before {
          @include bgi("icon/search.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 20px;
          height: 20px;
        }
      }

      .nav-login {
        @include flexColumn {
          align-items: center;
        }
        height: 56px;
        gap: 4px;
        padding: 4px 12px 0 12px;
        padding-bottom: 0;

        &::before {
          @include bgi("icon/login.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 20px;
          height: 20px;
        }
      }

      .nav-join {
        @include flexColumn {
          align-items: center;
        }
        height: 56px;
        gap: 4px;
        padding: 4px 12px 0 12px;
        padding-bottom: 0;

        @media (max-width: 1024px) {
          display: none;
        }

        &::before {
          @include bgi("icon/join.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 20px;
          height: 20px;
        }
      }

      .nav-mypage {
        @include flexColumn {
          align-items: center;
        }
        height: 56px;
        gap: 4px;
        padding: 4px 12px 0 12px;
        padding-bottom: 0;

        @media (max-width: 1024px) {
          display: none;
        }

        &::before {
          @include bgi("icon/mypage.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 20px;
          height: 20px;
        }
      }

      .nav-menu {
        @include flexColumn {
          align-items: center;
        }

        height: 56px;
        gap: 4px;
        padding: 4px 12px 0 12px;
        padding-bottom: 0;

        @media (min-width: 1024px) {
          display: none;
        }

        &::before {
          @include bgi("icon/menu.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.gnb-desktop-wrap {
  z-index: 70;
  border-top: 0.5px solid #cdd1d5;
  border-bottom: 0.5px solid #cdd1d5;
  background-color: #fff;

  @media (max-width: 1024px) {
    display: none;
  }

  .gnb-menu {
    @include flexYCenter;
    gap: 16px;

    .gnb-main-trigger {
      @include flexYCenter;
      position: relative;
      padding: 0 8px;
      gap: 8px;
      height: 56px;
      @include font(($titleS, 19px));
      font-weight: 700;
      color: #464c53;
      transition: 0.4s ease-in-out;

      &:hover {
        background-color: #eef2f7;
      }

      &::before {
        position: absolute;
        display: inline-flex;
        content: "";
        bottom: 0;
        left: 50%;
        width: 0;
        height: 4px;
        background-color: #063a74;
        transition: 0.4s ease-in-out;
      }

      &::after {
        @include bgi("icon/arrow-right.svg");
        display: inline-flex;
        flex-shrink: 0;
        content: "";
        width: 20px;
        height: 20px;
        transform: rotate(90deg);
        transition: 0.4s ease-in-out;
      }

      &.active {
        display: flex;

        &::before {
          left: 0;
          width: 100%;
        }

        &::after {
          transform: rotate(-90deg);
        }
      }
    }

    .gnb-toggle-wrap {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      margin-top: 1px;
      background-color: #fff;
      margin-left: auto;
      margin-right: auto;

      &.is-open {
        @include flex {
        }
      }

      .gnb-main-list {
        position: relative;
      }

      .toggle-menu {
        width: 240px;
        height: 100%;
        padding: 16px 0;
        background-color: #eef2f7;

        .gnb-sub-trigger {
          @include flex {
            justify-content: space-between;
            align-items: center;
          }
          width: 100%;
          padding: 16px 24px;
          color: inherit;
          @include font(($subtitle, 17px));
          text-decoration: none;

          &.active {
            background-color: #fff;
          }

          &::after {
            @include bgi("icon/arrow-right.svg");
            display: inline-flex;
            flex-shrink: 0;
            content: "";
            width: 20px;
            height: 20px;
          }

          &.is-link {
            justify-content: flex-start;
            gap: 8px;

            &::after {
              @include bgi("icon/btn-shortcut.svg");
              display: inline-flex;
              flex-shrink: 0;
              content: "";
              width: 20px;
              height: 20px;
            }

            &.external-link {
              &::after {
                @include bgi("icon/ico-go.svg");
                display: inline-flex;
                flex-shrink: 0;
                content: "";
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        .gnb-sub-list {
          position: absolute;
          @include flexColumn {
            justify-content: space-between;
          }
          display: none;
          left: 240px;
          right: 0;
          top: 0;
          padding: 16px 40px;
          gap: 16px;
          min-height: 100%;

          &.active {
            display: flex;
          }

          .gnb-sub-content {
            @include flexColumn;
            gap: 16px;

            .title-link {
              @include flexYCenter;
              @include font(body);
              font-weight: 400;
              padding: 0 2px;
              gap: 4px;

              i {
                display: inline-block;
                @include bgi("icon/arrow-right.svg");
                content: "";
                width: 16px;
                height: 16px;
              }
            }

            ul {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-column-gap: 16px;

              li {
                button {
                  @include flexYCenter;
                  padding: 10px 8px;
                  gap: 8px;
                  @include font(($subtitle, 17px));

                  &::before {
                    content: "";
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 4px;
                    height: 4px;
                    background-color: #1e2124;
                  }
                }
              }

              .pc-3rd-depth {
                @include flexColumn;
                gap: 4px;

                a {
                  @include flexYCenter;
                  padding: 4px;
                  gap: 8px;
                  text-decoration: none;
                  color: inherit;

                  &::after {
                    display: inline-block;
                    @include bgi("icon/ico-go.svg");
                    content: "";
                    width: 24px;
                    height: 24px;
                  }
                }

                p {
                  @include font(($subtitle, 17px));
                  padding: 16px 4px 0 4px;
                  border-top: 1px solid #cdd1d5;
                  color: #464c53;
                }
              }
            }
          }

          .gnb-sub-banner {
            @include flexYCenter;
            padding: 12px 16px;
            border-radius: 8px;
            gap: 16px;
            background-color: #e6e8ea;

            button {
              @include flexYCenter;

              &::after {
                @include bgi("icon/arrow-right.svg");
                display: inline-flex;
                flex-shrink: 0;
                content: "";
                width: 20px;
                height: 20px;
              }
            }
          }

          &.gnb-row {
            flex-direction: row;
            padding-right: 0;

            ul {
              grid-template-columns: repeat(2, 1fr);
            }

            .gnb-sub-content {
              flex: 1;
            }

            .gnb-sub-banner {
              @include flexColumn;
              width: 266px;
              padding: 24px;

              span {
                width: fit-content;
              }
            }
          }

          &.gnb-sub-single {
            flex-direction: row;
            padding-right: 0;
            left: 0;
            padding: 16px 0;

            ul {
              grid-template-columns: repeat(3, 1fr);
            }

            .gnb-sub-content {
              flex: 1;
            }

            .gnb-sub-banner {
              @include flexColumn;
              width: 266px;
              padding: 24px;

              span {
                width: fit-content;
              }
            }
          }
        }
      }
    }
  }
}

.gnb-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 60;
  background-color: #000000bf;

  &.active {
    display: block;
  }
}
