.page-main-wrap {
  @include flexColumn;
  flex: 1;

  // common
  .main-gap {
    @include flexColumn;
    gap: 40px;
    padding: 40px 0;

    @include tablet {
      gap: 64px;
      padding: 64px 0;
    }

    & > section {
      @include flexColumn {
        gap: 24px;
      }
    }
  }

  .main-notice-wrap {
    @include flexXCenter;
    padding: 16px;
    background: #e6e8ea;

    .notice-container {
      @include flex {
        align-items: center;
      }

      margin: 0 auto;

      gap: 16px;
      padding: 12px;

      border-radius: 8px;
      border: 1px solid #cdd1d5;
      background: #fff;

      /* shadow2 */
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05),
        0px 4px 8px 0px rgba(0, 0, 0, 0.08);

      .icon-wrap {
        @include flexCenter {
          flex-shrink: 0;
        }
        width: 66px;
        padding: 8px;
        gap: 4px;
        border-radius: 6px;
        background: #de3412;

        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          color: #fff;
          text-overflow: ellipsis;

          @include font($body);
          font-weight: 700;
        }
      }

      .text-container {
        @include font(($body, 17px));
        flex-shrink: 1;
        color: #131416;
        font-weight: 700;
      }
    }
  }

  .main-visual-swiper {
    background-color: #d8e4f2;

    .visual-swiper {
      @include flexColumn {
        align-items: center;
      }
      // height: 718px;
      padding: 40px 16px;
    }

    .slide-wrap {
      @include flexColumn {
      }

      margin: 0 auto;
      padding: 0 24px;
      width: 100%;

      @include mobile {
        padding: 0;
      }

      .slide-container {
        @include flexColumn {
        }

        padding: 24px 0px;
        gap: 40px;

        @include tablet {
          flex-direction: row;
          align-items: center;
          max-width: 1200px;
          padding: 24px 80px;
        }

        .slide-upper {
          @include flexColumn {
            flex: 2;
          }
          gap: 24px;

          .text-box {
            @include flexColumn;
            gap: 20px;

            p {
              @include font(titleL);
              color: #1e2124;
              font-weight: 700;
              letter-spacing: 1px;
            }

            span {
              @include font(($subtitleL, 19px));
              color: #1e2124;
              font-weight: 400;
            }
          }

          button {
            @include flexCenter {
            }
            height: 64px;
            min-width: 98px;
            padding: 0px 24px;
            gap: 4px;
            border-radius: 8px;
            background: #256ef4;

            span {
              color: #fff;
              text-align: center;

              @include font(($subtitleL, 19px));
              font-weight: 400;
            }
          }
        }

        .slide-lower {
          flex: 1;
          margin-left: auto;

          img {
            max-width: 229px;
            width: 100%;
            height: 100%;
            flex-shrink: 0;
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        @include flexCenter;
        transform: translateY(-50%);
        width: 64px;
        height: 64px;
        border: 1px solid #d7d9db;
        border-radius: 50%;
        background-color: #fff;

        @media (max-width: 769px) {
          display: none;
        }

        &::after {
          display: none;
        }
      }

      .pagination-wrap {
        position: relative;
        @include flexCenter;
        gap: 8px;

        .swiper-pagination {
          @include flexCenter {
          }
          position: relative;
          width: auto;
          height: 36px;
          padding: 12px;
          background-color: #fff;
          border-radius: 100px;
          border: 1px solid #d7d9db;
        }

        .swiper-button-prev,
        .swiper-button-next {
          display: none;

          @media (max-width: 769px) {
            display: block;
            position: static;
            @include flexCenter;
            transform: translateY(2px);
            width: 36px;
            height: 36px;
            border: 1px solid #d7d9db;
            border-radius: 50%;
            background-color: #fff;
          }

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .main-bookmark-wrap {
    @include flexColumn {
    }

    // padding: 0 16px;

    .title {
      @include flexYCenter {
      }
      gap: 10px;

      a {
        @include flexYCenter {
        }
        gap: 4px;
        padding: 0 2px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0);
        background: rgba(255, 255, 255, 0);
        text-decoration: none;

        span {
          @include font(($subtitleL, 17px));
          color: #1e2124;
          font-weight: 400;
        }

        &::before {
          @include bgi("icon/setting.svg");
          display: inline-flex;
          flex-shrink: 0;
          content: "";
          width: 20px;
          height: 20px;
        }
      }
    }

    .list-wrap {
      @include flexColumn {
      }
      gap: 16px;
      width: 100%;
      padding: 0 64px;

      .array {
        @include flex {
          // flex-wrap: wrap;
          // justify-content: center;
        }

        @media (min-width: 1024px) {
          flex-wrap: nowrap;
          justify-content: normal;
          // overflow-x: hidden;
        }

        li {
          @include flexColumn {
            align-items: center;
          }
        }

        a {
          text-decoration: none;

          @include tablet {
            width: 128px;
            gap: 12px;
          }

          img {
            width: 32px;
            height: 32px;
          }

          p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;
            overflow: hidden;
            color: #1e2124;
            text-align: center;
            text-overflow: ellipsis;

            @include font(body);
            font-weight: 700;
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        @include flexCenter;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        border: 1px solid #d7d9db;
        border-radius: 50%;
        background-color: #fff;

        @include mobile {
          display: none;
        }

        &::after {
          display: none;
        }
      }

      .control-carousel {
        position: relative;
        margin-top: 30px;
        // padding: 10px 0;
      }
    }
  }

  .main-combi-contents-wrap {
    @include flexColumn {
    }

    .title {
      @include flexColumn {
      }
    }

    .contents-wrap {
      @include flexColumn {
      }

      gap: 16px;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .fixed-content {
      @include flexColumn {
        align-items: flex-start;
        flex-shrink: 0;
      }
      gap: 42px;
      padding: 24px;
      border-radius: 12px;
      background: #eef2f7;

      @include tablet {
        width: 282px;
      }

      .text-container {
        @include flexColumn {
        }
        gap: 12px;

        .title {
          color: #1e2124;
          @include font(title);
          font-weight: 700;
        }

        .desc {
          @include font(($subtitle, 17px));
          color: #464c53;
          font-weight: 400;
        }
      }

      .main-img {
        margin-left: auto;

        img {
          width: 183px;
        }
      }
    }

    .card-section-wrap {
      @include flexColumn {
      }
      position: relative;

      // overflow-x: hidden;
      padding: 0 72px;
      width: 100%;

      .list-wrap {
        @include flex {
        }
        // width: 876px;

        .card-container {
          @include flexColumn {
            flex-shrink: 0;
            align-items: flex-start;
          }
          // width: 100px;
          gap: 16px;

          .card-img {
            @include flexCenter {
              align-self: stretch;
            }

            height: 196px;
            border-radius: 12px;
            background: #e5e2ef;

            img {
              height: 119px;
            }
          }

          .title {
            overflow: hidden;
            color: #1e2124;
            text-overflow: ellipsis;
            @include font(($subtitle, 17px));
            font-weight: 700;
          }

          .desc {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;

            overflow: hidden;
            color: #464c53;
            text-overflow: ellipsis;

            @include font(($subtitle, 17px));
            font-weight: 400;
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: block;
        // position: static;
        @include flexCenter;
        transform: translateY(2px);
        width: 36px;
        height: 36px;
        border: 1px solid #d7d9db;
        border-radius: 50%;
        background-color: #fff;

        &::after {
          display: none;
        }
      }
    }
  }

  .main-policy-wrap {
    .policy-title {
      @include flexBetween {
      }
    }

    .card-list-wrap {
      @include flexColumn {
      }
      gap: 16px;

      @include tablet {
        flex-direction: row;
        gap: 24px;
      }

      .card-container {
        overflow: hidden;
        border-radius: 12px;
        border: 1px solid #cdd1d5;
        flex: 1;

        .card-img {
          @include flexCenter {
            align-self: stretch;
          }
          height: 167px;
          background: #dfe8f4;

          img {
            max-height: 110px;
          }
        }

        .text-container {
          @include flexColumn {
          }
          padding: 24px;
          gap: 16px;

          .text-title {
            color: #1e2124;
            @include font(($title, 19px));
            font-weight: 700;
          }

          .text-desc {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            align-self: stretch;
            overflow: hidden;
            color: #464c53;
            text-overflow: ellipsis;

            @include font(($subtitle, 17px));
            font-weight: 400;
          }
        }
      }
    }
  }

  .main-news-wrap {
    @include flexColumn {
    }
    // padding: 0 16px;

    .news-title {
      @include flexColumn {
        align-items: flex-start;
      }
    }

    .news-list {
      @include flexColumn {
      }
      gap: 16px;

      @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: 16px;
        column-gap: 16px;
      }
    }

    .nav-wrap {
      @include pc {
        @include flexBetween;
      }

      ul {
        @include flexYCenter {
        }
        overflow: hidden;
        gap: 8px;

        li {
          display: inline-flex;

          .tab-container {
            @include flexCenter {
            }
            white-space: nowrap;
            height: 48px;
            min-width: 64px;
            padding: 0 8px;

            color: #052b57;
            text-align: center;

            @include font(($subtitle, 17px));
            font-weight: 700;
          }
        }
      }
    }
    .news-container {
      @include flexColumn {
        justify-content: space-between;
        align-self: stretch;
      }

      padding: 24px;
      gap: 12px;

      border-radius: var(--radius-xlarge2, 12px);
      border: 1px solid #b1b8be;
      background: #fff;

      @include tablet {
        height: 234px;
      }

      .article-container {
        @include flex {
        }
        gap: 16px;

        img {
          width: 132px;

          @include tablet {
            width: 200px;
          }
        }

        .article-only {
          @include flexColumn {
          }
          gap: 8px;

          .news-subject {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            overflow: hidden;
            color: var(--color-text-basic, #1e2124);
            text-overflow: ellipsis;

            @include font(($titleS, 19px));
            font-weight: 700;
          }

          .news-desc {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            align-self: stretch;
            overflow: hidden;
            color: #464c53;
            text-overflow: ellipsis;

            @include font(($subtitle, 17px));
            font-weight: 400;
          }
        }
      }
    }
  }

  .main-complaint-wrap {
    .complaint-title {
      @include flexBetween {
      }
    }

    .complaint-list {
      @include flexColumn {
      }

      .complaint-container {
        @include flexColumn {
        }
        gap: 12px;
        padding: 24px;

        .complaint-text-wrap {
          @include flexColumn {
          }
          gap: 8px;

          .complaint-subject {
            color: #1e2124;

            @include font(($titleS, 19px));
            font-weight: 700;
          }

          .complaint-desc {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            align-self: stretch;
            overflow: hidden;
            color: #464c53;
            text-overflow: ellipsis;

            @include font(($subtitle, 17px));
            font-weight: 400;
          }
        }

        .upr-margin-8px {
          margin-top: 8px;
        }
      }
    }
  }

  .main-introduction-wrap {
    background: #eef2f7;

    .introduction-card {
      @include flexColumn {
        flex: 1;
      }
      padding-top: 48px;
      padding-bottom: 64px;
      gap: 24px;

      @include tablet {
        flex-direction: row;
        gap: 40px;
      }

      .intro-img {
        width: 328px;
        height: 258px;
        flex-shrink: 0;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
          width: 410px;
          height: 322px;
        }
      }

      .intro-except-card {
        @include flexColumn {
        }
        gap: 16px;

        @include tablet {
          padding-top: 24px;
        }
      }

      .intro-text {
        @include flexColumn {
        }
        gap: 8px;

        .intro-subject {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          align-self: stretch;
          overflow: hidden;
          color: #1e2124;
          text-overflow: ellipsis;

          @include font(titleM);
          font-weight: 700;
        }

        .intro-desc {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          align-self: stretch;
          overflow: hidden;
          color: #464c53;
          text-overflow: ellipsis;

          @include font(($subtitle, 17px));
          font-weight: 400;
        }
      }
    }
  }
}
